# Jupyter Notebook
.ipynb_checkpoints
Untitled-1*

# IPython
profile_default/
ipython_config.py
*src/__pycache__*

#pyc
*.pyc
*.DS_Store

# pyenv
.python-version

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
*.DS_Store

# model
*bin
*pt
*pth